<!-- INCLUDE overall_header.html -->

<h2>Acknowledgements & attributions</h2>

<div class="panel">

   <div class="content">
      <p>
          We would like to thank...
        <ul>
            <li><a href="http://getbootstrap.com/">Bootstrap</a> for providing comfort with the robust framework</li>
            <li><a href="http://planetstyles.net/">PlanetStyles</a> for their beautiful Milk theme for phpBB</li>
            <li><a href="https://www.phpbb.com/">phpBB</a> for developing such a great platform for communities</li>
        </ul>
      </p>
   </div>

</div>

<!-- INCLUDE overall_footer.html -->
