<!-- INCLUDE home_header.html -->

<div class="panel">
    <div class="content">
        <center>
            <h1 style="font-size:36px; margin-top:10px; margin-left:180px;">Latest News</h1>
        </center>
        <hr />
        <ul>
            <li>
                <h1>
                    <a href="https://upperechelon.gg/viewtopic.php?f=2&t=1">Getting Started</a>
                </h1>
                <p>
                    Learn more about Upper Echelon and how to become a part of the community.
                </p>
            </li>
        </ul>
    </div>
</div>

<!-- INCLUDE home_footer.html -->