<!-- INCLUDE home_header.html -->

<div class="content">
    <div class="panel">
        <a href="https://upperechelon.gg/viewtopic.php?f=2&t=1"><h2>Getting Started</h2></a>
        <p>Learn how to get involved with the Upper Echelon community</p>
    </div>
    <div class="panel">
        <a href="#"><h2>Another news article</h2></a>
        <p>Another news article's summary</p>
    </div>
    <div class="panel">
        <a href="#"><h2>Another news article, yet again</h2></a>
        <p>Yet again, another news article's summary</p>
    </div>
    <div class="panel">
        <a href="#"><h2>Another news article... again</h2></a>
        <p>Again... another news article's summary</p>
    </div>
    <div class="panel">
        <a href="#"><h2>you get the idea</h2></a>
        <p>right?</p>
    </div>
</div>

<!-- INCLUDE home_footer.html -->