<!-- INCLUDE overall_header.html -->

<h2>Global forum guidelines</h2>

<div class="panel">

   <div class="content">
       <ul>
           <li>
               <h3>Respect others as you would want to be respected</h3>
               <p>Toxic behavior is prohibited in all circumstances. In every matter of discussion, there are constructive ways to formulate a response.</p>
           </li>
           <li>
               <h3>Avoid posting disallowed content</h3>
               <p>As you agreed on the <a href="https://upperechelon.gg/ucp.php?mode=terms">terms</a> upon registering your account, you may not post confidential, illegal, sexual, taboo, and otherwise vulgar content.</p>
           </li>
       </ul>
   </div>

</div>

<!-- INCLUDE overall_footer.html -->
