<!-- IF S_VIEWTOPIC_REACTIONS && REACTIONS_ENABLED -->
<script type="text/javascript">
// <![CDATA[
	var tprData = {
		url: '{REACTION_URL}',
		urlTitle: '{LA_VIEW_REACTIONS}',
		height: '<!-- IF REACTION_IMAGE_HEIGHT -->{REACTION_IMAGE_HEIGHT}<!-- ENDIF -->',
		width: '<!-- IF REACTION_IMAGE_WIDTH -->{REACTION_IMAGE_WIDTH}<!-- ENDIF -->',
		alt: '{LA_REACTIONS}',
		countEnabled: <!-- IF TYPE_COUNT_ENABLE -->true<!-- ELSE -->false<!-- ENDIF -->,
		quickReply: '<!-- IF TPR_QR_ACTION -->{TPR_QR_ACTION}<!-- ENDIF -->',
		alertTitle: '{LA_INFORMATION}',
		alertMsg: '{LA_TOO_FEW_CHARS}'
	};
// ]]>	
</script>

<!-- INCLUDEJS @steve_postreactions/js/ajax_reactions.js -->
<!-- ENDIF -->