extends layout

block content
  div.container-fluid
    div.row
      div.col-4(style='padding-top:24px;padding-left:48px;')
        img(src='/images/logo-text.png').img-fluid
      div(style='padding-top:50px;').col-7
        h5(align='justify') Upper Echelon LLC is a multifaceted gaming organization with a vast network of gamers aiming to create a social experience that adds value to the lives of like minded individuals.
        br
        h5(align='justify') Founded by Chris "Sanctionite" Zakrzewski on May 23, 2016, the organization rapidly grew in size, reaching a user-base of thousands of members. To this day, it continues to expand.
        br
        h5(align='justify') Upper Echelon Gamers can be found all over the Internet, ranging from social media groups, game-based clans and teams, to entertainment platforms such as Twitch and YouTube.
        br
        div(align='center')
          a(href='http://discord.upperechelon.gg').btn.btn-discord
            i.fab.fa-discord
          | &nbsp;
          a(href='https://www.twitch.tv/team/upperechelon').btn.btn-twitch
            i.fab.fa-twitch
          | &nbsp;
          a(href='https://www.twitter.com/ue_upperechelon').btn.btn-info
            i.fab.fa-twitter
          | &nbsp;
          a(href='https://www.youtube.com/c/upperechelongamersueg').btn.btn-danger
            i.fab.fa-youtube
          | &nbsp;
