extends layout

block content
  .home
    
    div(style="text-align: center;").footer.container-fluid
      a.btn.btn-info.btn-lg(href="https://www.twitter.com/ue_upperechelon")
          i.fab.fa-twitter
      | &nbsp;
      a.btn.btn-danger.btn-lg(href="https://www.youtube.com/watch?v=cmI2L3eQyCY&list=UUhI0q9a-ZcbZh7dAu_-J-hg")
        i.fab.fa-youtube