extends layout

block content
  div(align='center')
    h1 
  div.container-fluid
    hr(color='#eee')
    
    div.sponsors
      //div.row
        div(align='center').col-4
          a(href='https://agentinq.com' target='_blank')
            img(src='/images/agentinq.png').img-fluid
        div.col-8
          p loading...
      //hr(color='#eee')
      div.row
        div(align='center').col-4
          a(href='https://beta.endorse.gg' target='_blank')
            img(src='/images/endorse.png').img-fluid
        div.col-8
          p loading...
            br
            br
            | ...
      hr(color='#eee')
      div.row
        div(align='center').col-4
          a(href='https://thewebaround.com/ref/LostInTheSauce/' target='_blank')
            img(src='/images/webaround.png').img-fluid
        div.col-8
          p loading...
            br
            br
            | ...
      hr(color='#eee')
      div.row
        div(align='center', style='padding-top:24px;' target='_blank').col-4
          a(href='https://opseat.com/ref/LITS/')
            img(src='/images/opseat.png').img-fluid
        div.col-8
          p loading...
            br
            br
            | ...
      hr(color='#eee')