extends layout

block content
  div(align='center')
    h1 
  div.container-fluid
    hr(color='#eee')
    
    div.sponsors
      div.row
        div(align='center').col-4
          a(href='https://agentinq.com/collections/upper-echelon-gamers' target='_blank')
            img(src='/images/agentinq.png').img-fluid
        div.col-8
          p loading...
      hr(color='#eee')