extends layout

block content
  div.container-fluid
    .card-deck(style='padding-top:18px;padding-bottom:18px;')
      .card(style='background-color:#6441A4')
        img.card-img-top(src='/images/glitch-white.png', alt='Twitch team' style='padding-top:24px;padding-left:8px;padding-right:8px;')
        .card-body
          p.card-text
            | The "Upper Echelon Network" is the premiere stream team under Upper Echelon Gamers.
        .card-footer
          a.btn.btn-success(href='https://www.twitch.tv/team/upperechelon' target='_blank' title='Twitch team members') Roster
          |  
          a.btn.btn-secondary.disabled(href='#' title='Twitch team expectations') Expectations
          |  
          a.btn.btn-secondary.disabled(href='#' target='_blank' title='Form to apply to Twitch team') Application
      .card(style='background-color:#343434')
        img.card-img-top(src='/images/bo4.png', alt='Black Ops 4' style='padding-top:24px;padding-left:8px;padding-right:8px;')
        .card-body
          p.card-text 
        .card-footer
          a.btn.btn-secondary.disabled Coming soon...
      .card(style='background-color:#fff')
        img.card-img-top(src='/images/youtube.png', alt='Coming soon')
        .card-body
          p.card-text
        .card-footer
          a.btn.btn-secondary.disabled Coming soon...