<!-- INCLUDE overall_header.html -->

<h2>Global forum guidelines</h2>

<div class="panel">

   <div class="content">
       <ol>
           <li>
               <h2>Be respectful</h2>
               <p>
                   It's okay to disagree. We enjoy debates, and contrary points of view but everyone has a voice and deserves to be heard without being ridiculed or insulted.
               </p>
           </li>
           <li>
               <h2>Post with care</h2>
               <p>
                   Share concepts, ideas, experiences, stories, but consider the audience; not everyone is 18+ years old. Inflammatory content, including but not limited to pornography, illegal subjects, and incitement of violence or hate. Making public posts that include sensitive or confidential information will not be tolerated.
               </p>
           </li>
       </ol>
   </div>

</div>

<!-- INCLUDE overall_footer.html -->
