<!-- IF LASTAT_TYPE -->
<div class="panel bg3" id="last-topics">
<div class="inner">
<!-- IF LASTAT_NAVIGATION -->
<div id="jsdisplay_buttons_top">
<a href="#" title="{L_PREVIOUS_SCROLL}" id="ticker-previous"><img src="{BOARD_URL}ext/galandas/lasttopics/styles/all/theme/images/rewind.png" width="12" height="12" alt="{L_PREVIOUS_SCROLL}" /></a> <a href="#" title="{L_NEXT_SCROLL}" id="ticker-next"><img src="{BOARD_URL}ext/galandas/lasttopics/styles/all/theme/images/fastforward.png" width="12" height="12" alt="{L_NEXT_SCROLL}" /></a> <a href="#" title="{L_STOP_SCROLL}" id="stop"><img src="{BOARD_URL}ext/galandas/lasttopics/styles/all/theme/images/control_stop.png" width="12" height="12" alt="{L_STOP_SCROLL}" /></a> <a href="#" title="{L_START_SCROLL}" id="start"><img src="{BOARD_URL}ext/galandas/lasttopics/styles/all/theme/images/control_play.png" width="12" height="12" alt="{L_START_SCROLL}" /></a>
</div>
<!-- ENDIF -->
<h3>{L_LAST_TITLETEXT}</h3>
<ul id="vertical-ticker">
<!-- BEGIN last_topic -->
<li>{L_POST_BY_AUTHOR} <a style="font-weight:bold; color: #{last_topic.TOPIC_LAST_POSTER_COLOUR};" href="{last_topic.USERNAME_LAST}"> <img src="{BOARD_URL}ext/galandas/lasttopics/styles/all/theme/images/icon_profile.png" height="20" width="20" title="{last_topic.TOPIC_LAST_POSTER_NAME}" alt="" /> {last_topic.TOPIC_LAST_POSTER_NAME}</a> <i class="fa fa-clock-o"></i> {last_topic.TOPIC_LAST_POST_TIME}&nbsp;<a href="{last_topic.LAST_LINK}" title="{last_topic.TOPIC_TITLE}"><span style="color: #BF0000">{last_topic.TOPIC_TITLE}</span></a> <a href="{last_topic.U_LAST_TOPIC}" title="{L_VIEW_LATEST_POST}"><i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{L_VIEW_LATEST_POST}</span></a> {L_REPLIES}&nbsp;{last_topic.TOPIC_REPLIES}&nbsp;{L_VIEWS} {last_topic.TOPIC_VIEWS}</li>
<!-- END last_topic -->
</ul>
</div>
</div>
<!-- ELSE -->
<div class="forabg" id="last-topics">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dd>{L_LAST_TITLETEXT}&nbsp;
					<!-- IF LASTAT_NAVIGATION -->
                    <a href="#" title="{L_PREVIOUS_SCROLL}" id="ticker-previous"><img src="{BOARD_URL}ext/galandas/lasttopics/styles/all/theme/images/rewind.png" width="12" height="12" alt="{L_PREVIOUS_SCROLL}" /></a> <a href="#" title="{L_NEXT_SCROLL}" id="ticker-next"><img src="{BOARD_URL}ext/galandas/lasttopics/styles/all/theme/images/fastforward.png" width="12" height="12" alt="{L_NEXT_SCROLL}" /></a> <a href="#" title="{L_STOP_SCROLL}" id="stop"><img src="{BOARD_URL}ext/galandas/lasttopics/styles/all/theme/images/control_stop.png" width="12" height="12" alt="{L_STOP_SCROLL}" /></a> <a href="#" title="{L_START_SCROLL}" id="start"><img src="{BOARD_URL}ext/galandas/lasttopics/styles/all/theme/images/control_play.png" width="12" height="12" alt="{L_START_SCROLL}" /></a>
                    <!-- ENDIF -->
                    </dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<li class="row">
				<dl>
					<dd>
					    <ul id="vertical-ticker">
                        <!-- BEGIN last_topic -->
                        <li>&nbsp;{L_POST_BY_AUTHOR} <a style="font-weight:bold; color: #{last_topic.TOPIC_LAST_POSTER_COLOUR};" href="{last_topic.USERNAME_LAST}"> <img src="{BOARD_URL}ext/galandas/lasttopics/styles/all/theme/images/icon_profile.png" height="20" width="20" title="{last_topic.TOPIC_LAST_POSTER_NAME}" alt="" /> {last_topic.TOPIC_LAST_POSTER_NAME}</a> <i class="fa fa-clock-o"></i> {last_topic.TOPIC_LAST_POST_TIME}&nbsp;<a href="{last_topic.LAST_LINK}" title="{last_topic.TOPIC_TITLE}"><span style="color: #BF0000">{last_topic.TOPIC_TITLE}</span></a> <a href="{last_topic.U_LAST_TOPIC}" title="{L_VIEW_LATEST_POST}"><i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{L_VIEW_LATEST_POST}</span></a> {L_REPLIES}&nbsp;{last_topic.TOPIC_REPLIES}&nbsp;{L_VIEWS} {last_topic.TOPIC_VIEWS}</li>
                        <!-- END last_topic -->
                        </ul>
                    </dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
<!-- ENDIF -->