<!-- IF S_FORUM_ENABLE_REACTIONS && postrow.POST_REACTION_ENABLE -->
<div id="post-reactions{postrow.POST_ID}" class="reactions">

	<div class="badge icon-tpr tpr-font">
		<!-- IF postrow.U_VIEW_LIST && postrow.POST_REACTIONS > 1 -->
		<a href="{postrow.U_VIEW_LIST}" onclick="reactions(this.href);return false;" title="{L_VIEW_REACTIONS}">
		<!-- ENDIF -->
			<strong style="padding: 1px 2px;" id="reaction-count{postrow.POST_ID}">{postrow.POST_REACTIONS}</strong><!-- IF postrow.U_VIEW_LIST && postrow.POST_REACTIONS > 1 --><i class="icon fa-external-link fa-fw"></i><!-- ENDIF -->
		<!-- IF postrow.U_VIEW_LIST && postrow.POST_REACTIONS > 1 -->
		</a>
		<!-- ENDIF -->
		<div class="clear"></div>	
		<!-- IF postrow.U_REFRESH && postrow.RESYNC -->
		<a href="{postrow.RESYNC}" title="{L_RESYNC_REACTIONS}" class="tpr-font <!-- IF not postrow.POST_REACTIONS >= 1 -->hidden<!-- ENDIF -->">
			 <i class="icon resync <!-- IF postrow.REFRESH -->fa-spin<!-- ENDIF --> fa-refresh fa-fw"></i>
		</a>
		<!-- ENDIF -->
	</div>
	
	<div id="reaction-types{postrow.POST_ID}">
	<!-- BEGIN postrow.reactions -->
		<!-- IF TYPE_COUNT_ENABLE -->
		<strong class="badge reaction_count">{postrow.reactions.COUNT}</strong>
		<!-- ENDIF --><!-- IF postrow.reactions.U_VIEW_LIST -->
		<a href="{postrow.reactions.U_VIEW_LIST}" class="user_alert<!-- IF not postrow.reactions.U_REACTED -->_new<!-- ENDIF -->" onclick="reactions(this.href);return false;" title="{L_VIEW_REACTIONS}">
		<!-- ENDIF -->
			<img id="rimage{postrow.reactions.ID}{postrow.POST_ID}" src="{postrow.reactions.IMAGE_SRC}" class="reaction_image" <!-- IF REACTION_IMAGE_HEIGHT -->style="height: {REACTION_IMAGE_HEIGHT}px;width: {REACTION_IMAGE_WIDTH}px;"<!-- ENDIF --> alt="{L_IMAGE}" />
		<!-- IF postrow.reactions.U_VIEW_LIST -->
		</a>
		<!-- ENDIF -->
	<!-- END postrow.reactions -->
	</div>
	
</div>
<div class="clear"></div>
<!-- ENDIF -->