<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}">

	<h2>{L_UCP_DEFAULT_POST_SETTINGS}</h2>

	<div class="panel">
		<div class="inner">		
			<fieldset>
				<dl>
					<dt><label for="user_enable_reactions">{L_UCP_ENABLE_REACTIONS}{L_COLON}</label><br /><span>{L_UCP_ENABLE_REACTIONS_EXPLAIN}</span></dt>
					<dd><input type="radio" name="user_enable_reactions" value="1" <!-- IF S_USER_ENABLE_REACTIONS --> id="user_enable_reactions" checked="checked"<!-- ENDIF --><!-- IF not U_DISABLE_REACTIONS --> disabled="disabled"<!-- ENDIF --> /> {L_YES}
						<input type="radio" name="user_enable_reactions" value="0" <!-- IF not S_USER_ENABLE_REACTIONS --> id="user_enable_reactions" checked="checked"<!-- ENDIF --><!-- IF not U_DISABLE_REACTIONS --> disabled="disabled"<!-- ENDIF --> /> {L_NO}</dd>
				</dl>
				<hr class="dashed" />
				<dl>
					<dt><label for="user_enable_topic_reactions">{L_UCP_TOPIC_REACTIONS_ENABLE}{L_COLON}</label><br /><span>{L_UCP_TOPIC_REACTIONS_EXPLAIN}</span></dt>
					<dd><input type="radio" name="user_enable_topic_reactions" value="1" <!-- IF S_USER_ENABLE_TOPIC_REACTIONS -->id="user_enable_topic_reactions" checked="checked"<!-- ENDIF --><!-- IF not U_DISABLE_POST_REACTIONS --> disabled="disabled"<!-- ENDIF --> /> {L_YES}
						<input type="radio" name="user_enable_topic_reactions" value="0" <!-- IF not S_USER_ENABLE_TOPIC_REACTIONS -->id="user_enable_topic_reactions" checked="checked"<!-- ENDIF --><!-- IF not U_DISABLE_POST_REACTIONS --> disabled="disabled"<!-- ENDIF --> /> {L_NO}</dd>
				</dl>			
				<dl>
					<dt><label for="user_enable_post_reactions">{L_UCP_POST_REACTIONS_ENABLE}{L_COLON}</label><br /><span>{L_UCP_POST_REACTIONS_EXPLAIN}</span></dt>
					<dd><input type="radio" name="user_enable_post_reactions" value="1" <!-- IF S_USER_ENABLE_POST_REACTIONS -->id="user_enable_post_reactions" checked="checked"<!-- ENDIF --><!-- IF not U_DISABLE_TOPIC_REACTIONS --> disabled="disabled"<!-- ENDIF --> /> {L_YES}
						<input type="radio" name="user_enable_post_reactions" value="0" <!-- IF not S_USER_ENABLE_POST_REACTIONS -->id="user_enable_post_reactions" checked="checked"<!-- ENDIF --><!-- IF not U_DISABLE_TOPIC_REACTIONS --> disabled="disabled"<!-- ENDIF --> /> {L_NO}</dd>
				</dl>
				<dl>
					<dt><label for="user_enable_foe_reactions">{L_UCP_FOE_REACTIONS_ENABLE}{L_COLON}</label><br /><span>{L_UCP_FOE_REACTIONS_EXPLAIN}</span></dt>
					<dd><input type="radio" name="user_enable_foe_reactions" value="1" <!-- IF S_USER_ENABLE_FOE_REACTIONS -->id="user_enable_foe_reactions" checked="checked"<!-- ENDIF --> /> {L_YES}
						<input type="radio" name="user_enable_foe_reactions" value="0" <!-- IF not S_USER_ENABLE_FOE_REACTIONS -->id="user_enable_foe_reactions" checked="checked"<!-- ENDIF --> /> {L_NO}</dd>
				</dl>				
			</fieldset>
		</div>
	</div>
	
	<!-- IF .reaction_types -->
	<!-- IF U_DISABLE_REACTION_TYPES -->
	<h2>{L_SELECT_REACTION_TYPES}</h2>
	<div class="panel">
		<div class="inner">						
			<!-- BEGIN reaction_types -->
				<div style="float: {S_CONTENT_FLOW_BEGIN}" <!-- IF reaction_types.CHECKED -->class="reaction_disabled"<!-- ELSE -->class="reaction_enabled"<!-- ENDIF -->>						
					<img src="{reaction_types.IMAGE_SRC}" class="reaction_image" <!-- IF REACTION_IMAGE_HEIGHT -->style="height: {REACTION_IMAGE_HEIGHT}px;width: {REACTION_IMAGE_WIDTH}px;"<!-- ENDIF --> alt="{reaction_types.TITLE}" title="{reaction_types.TITLE}" /><br />
					<input type="checkbox" class="radio" name="reaction_type_id[{reaction_types.ID}]" value="1" <!-- IF reaction_types.CHECKED -->checked="checked"<!-- ENDIF --> />
				</div>
			<!-- END reaction_types -->			
		</div>
	</div>
	<!-- ENDIF -->
	<!-- ENDIF -->
	
	<div class="panel">
		<div class="inner">	
			<fieldset>
				<dl>
					<dt>&nbsp;</dt>
					<dd><input type="submit" name="submit" id="submit" class="button1" value="{L_SUBMIT}" tabindex="2" />&nbsp;
						<input type="reset" value="{L_RESET}" name="reset" class="button2" /></dd>
				</dl>
				{S_FORM_TOKEN}
			</fieldset>
		</div>
	</div>
	
</form>

<!-- INCLUDE ucp_footer.html -->